<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <parameter name="Role" value="Admin"></parameter>
<!--    <parameter name="Role" value="Mentor"></parameter>-->
<!--    <parameter name="Role" value="Secretary"></parameter>-->
<!--    <parameter name="Role" value="Student"></parameter>-->

    <test verbose="2" preserve-order="true" name="D:/Softserve/WHAT_TAQC_JavaDP223/src">
        <!--    <parameter name="Role" value="Admin"></parameter>-->
        <!--    <parameter name="Role" value="Mentor"></parameter>-->
        <!--    <parameter name="Role" value="Secretary"></parameter>-->
        <!--    <parameter name="Role" value="Student"></parameter>-->
        <classes>
            <class name="auth.ValidDataAuthPageAllRolesTest">
                <methods>
                    <include name="verifyAllRolesCanLogin"/>
                </methods>
            </class>
            <class name="registration.ValidDataRegistrationPageTest">
                <methods>
                    <include name="verifyUserCanRegisterAsMentor"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>